#page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container {
  display: flex;
  justify-content: center;
}

.language {
  height: 100px;
  width: 100px;
}

#divination {
  height: 100px;
}